@import url(nav.css);
@import url(footer.css);


body {
      -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.logo_top {
    font-family: 'Herr Von Muellerhoff', cursive;
    text-transform: none;
    font-size: 35px;
}
/*banner and container*/

#container {
    width: 1110px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-image: url('../img/seamless.png');
}


/*About*/

.about {
    height: 465px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
}

.about_text {
    width: 510px;
    text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-top: 58px;
}

h5 {
color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 185px;
    margin-bottom: -21px;
}

 /*menu begin*/
 h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 20px;

 }

 .menu_one {
    text-align: center;
    
 }

.menu_item {
    position: relative;
    width: 270px;
    height: 390px;
    margin-right: 2px;
    display: inline-block;
}

.menu_image {
    display: block;
    width: 270px;
    height: 390px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #CECECE;
}

.menu_item:hover .overlay {
    opacity: 0.7;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


/*menu2*/

 .menu_two {
    text-align: center; }

.arrange {
    text-align: right;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
}    
.arrange_ {
    height: 50px;
    margin-top: -51px;
       text-align: left;
}    

.bottom_nav {
    
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    text-transform: uppercase;
     display: inline-block;
}
.arrows {
    
    display: inline-block;
        margin-bottom: -11px;
    }
.arrows_ {
    transform: rotate(180deg);
    display: inline-block;
        margin-bottom: -11px;
}