html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 

body {
}

/*navigation*/

nav {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: absolute;
    background-color: black;
    text-transform: uppercase;
    padding-left: 49px;
    padding-right: 91px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

nav ul {
    text-align: center;
    display: inline;
    margin: 213px;
    padding: 15px 4px 17px 0;
    list-style: none;

}
nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 14px 20px;
    cursor: pointer;
}
nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
/* dropdown*/

nav ul li ul {
    padding: 0;
    position: absolute;
    top: -169px;
    left: 0;
    width: 150px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-left: -30px
    
}

nav ul li ul li {
    background: black;
    display: block;
    color: #fff;
}

nav ul li ul li:hover {
    }

nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
body {
      -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.logo_top {
    font-family: 'Herr Von Muellerhoff', cursive;
    text-transform: none;
    font-size: 35px;
}

/*banner and container*/

#container {
    width: 1110px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-image: url('../img/seamless.png');
}


/*About*/

.about {
    height: 465px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
}

.about_text {
    width: 510px;
    text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-top: -19px;
}

h5 {
color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 129px;
}

 /*menu begin*/
 h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 20px;

 }

 .menu_one {
    text-align: center;
    
 }

.menu_item {
    position: relative;
    width: 270px;
    height: 390px;
    margin-right: 2px;
    display: inline-block;
}

.menu_image {
    display: block;
    width: 270px;
    height: 390px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #CECECE;
}

.menu_item:hover .overlay {
    opacity: 0.7;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


/*menu2*/

 .menu_two {
    text-align: center; }

.arrange {
    text-align: right;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
}    

.bottom_nav {
    
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    text-transform: uppercase;
     display: inline-block;
}
.arrows {
    
    display: inline-block;
        margin-bottom: -11px;
    
}
/* button*/

   #circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 30px;
      background-image: url('../img/seamless.png'); 
      text-align: center;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      position: absolute;
      margin-left: 529px;
      margin-top: -24px;
    }

    h6 {
        font-size: 16px;
        margin-top: 18px;
    }


/* bottom*/

.bottom {
    background-color: black;
    color: white;
    height: 180px;
    padding-top: 50px;
    font-family: auto;
    margin-top: -2px;
        text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
  }

.middle {
text-align: center;
    width: 50px;
    margin-left: -367px;
    margin-top: 27px;
    margin-bottom: 66px;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;

}

.location {
    text-align: center;
    width: 200px;
    margin-left: -74px;
    margin-top: 27px;
    margin-bottom: 66px;
    display: inline-block;
    text-transform: uppercase;
   
}
.times {
    text-align: center;
    width: 298px;
    margin: 20px;
    display: inline-block;
    text-transform: uppercase;
     
}

.logo {
    text-align: center;
    width: 281px;
    display: inline-block;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 50px;
    color: white;
    margin-top: 37px;
    position: absolute;
    margin-left: -26px;

}

/*footer*/
footer {
    text-align: center;
    background-color: black;
    color: white;
        text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
}
 
.a_ {
    color: white;
}