@import url(nav.css);
@import url(footer.css);

body {
      -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.logo_top {
    font-family: 'Herr Von Muellerhoff', cursive;
    text-transform: none;
    font-size: 35px;
}

/*banner and container*/

#container {
    width: 1110px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-image: url('../img/seamless.png');
}

.banner {
	background-image: url('../img/banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        margin-bottom: 70px;
        border-bottom-style: solid;
        border-color: white;
        border-width: 1px;      
}

/*About*/

.about {
    height: 404px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
}

.about_text {
	width: 350px;
	text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    display: inline-block;
}

h5 {
	font-size: 20px;
	text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

 /*menu begin*/
 h1 {
 	text-align: center;
 	text-transform: uppercase;
 	margin-top: 30px;
 	margin-bottom: -10px;
 	font-size: 20px;

 }

 .menu_one {
    text-align: center;
    padding-top: 80px;
 }

.menu_item {
    position: relative;
    width: 270px;
    height: 390px;
    margin-right: 2px;
    display: inline-block;
}

.menu_image {
    display: block;
    width: 270px;
    height: 390px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #CECECE;
}

.menu_item:hover .overlay {
    opacity: 0.7;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}


/*menu2*/

 .menu_two {
    text-align: center;
    margin-bottom: 80px;

 }




.contact {
    height: 192px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;

}

.special_text {
    width: 350px;
    text-align: center;
    display: inline-block;
        text-align: justify;
    text-align-last: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    
}

/*Contactform*/

.form {
    height: 309px;
    margin-top: 50px;
    margin-left: 608px;
    width: 300px;
    position: relative;
    display: inline-block;

    
}

input {
    display: block;
    margin: 20px 0;
    outline-style: none;

}
input:focus {
    outline-color: #778899;
    outline-style: solid;
    outline-width: 1px;
}


textarea {
       width: 300px; 
       text-transform: uppercase;
       font-family: 'Open Sans Condensed', sans-serif;
       outline-style: none;
}

textarea:focus {
    outline-color: #778899;
    outline-style: solid;
    outline-width: 1px;
}

.contactform p {
    font-size: 12px;
}
.button {
    width: 307px;
    height: 30px;
    color: white;
    background-color: black;
    border-style: none;
}

.button:hover {
        outline-color: #778899;
    outline-style: solid;
    outline-width: 1px;
}


.name {
    width: 300px;
    vertical-align: top;

}
.textareacontainer {
    width: 300px;
}
.form {
    text-align: center;
}
.nameboxes {
    width: 300px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 30px;
           text-transform: uppercase;
       font-family: 'Open Sans Condensed', sans-serif;
}

.formatheading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.formtext {
    display: inline-block;
    width: 253px;
    margin-left: 216px;
    margin-top: -244px;
    height: 50px;
    vertical-align: top;
    text-align-last: center;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
}

/*line*/
hr {
    width: 700px;
    text-align: center;
}
